<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <link rel="stylesheet" href="/styles/homepage.css" type="text/css">
    <link rel="stylesheet" href="/styles/navigatie.css" type="text/css">
    <link rel="stylesheet" href="/styles/fav-lijst.css" type="text/css">
    <link rel="stylesheet" href="/styles/rating-maken.css" type="text/css">
    <title>Funda</title>
</head>
<body>

<nav>
        <h1><a href="/">Funda</a></h1>
        <!-- <img href="/public/images/funda logo.png"></img> -->
        <!-- <a href="/"><img src="/images/funda logo.png" class="logo"></a> -->
    <ul>
        <li>Kopen</li>
        <li>Huren</li>
        <li>Verkopen</li>
    </ul>

    <ul>
        <li><a href="/fav-lijst">Favorieten</a></li>
        <li>Mijn huis</li>
        <li>Mijn profiel</li>
    </ul>
</nav>