<%- include('./partials/head') %>


<h1 class="home">Home</h1>
<p class="test">test</p>
<a href="/fav-lijst" class="a-a">Bewaarde Huizen</a>
<a href="/detail">Detail</a>

<form class="form-test">
    <p>Filter op:</p>
    <select>
        <option>Prijs</option>
        <option>Bewaardatum</option>
        <option>Datum</option>
        <option>Plaats</option>
    </select>
</form>

