<%- include('./partials/head') %>


<section class="rating-section">
  <form method="post" action="/rating-maken">

<a href="/fav-lijst">Terug</a>

<h2>Beoordeling:</h2>

<ul>
    <li>Keuken</li>
    <li>Tuin</li>
    <li>Ligging</li>
</ul>

<ul>
    <li>Badkamer</li>
    <li>Prijs</li>
    <li>Oppervlakte</li>
</ul>

<article class="bericht-article">
    <label>Comments: 
      <textarea required name="bericht" placeholder="Typ hier..."></textarea>
    </label>  

      <h2>Mijn notitie:</h2>
    <ul>
      <% messages.forEach(message => { %>
        <li><p><%= message %></p></li>
        <% }) %>
    </ul>
</article>


<!-- <form method="post" action="/rating-maken"> -->
  <button type="submit" class="verzend-btn">Verzenden</button>

</section>
</form>

<%- include('./partials/foot') %>
