<%- include('./partials/head') %>



<img class="avatar-image" src="https://fdnd-agency.directus.app/assets/<%=users.avatar %>">
 
<p><%= users.name %> hoi</p>

<li class="user-li"><%= users.name %></li>
