 main{
    position: relative;
  }
  .fav-h1{
      padding: 0 3em;
      padding-top: 1em;
      color: var(--primary-black);
    }
    .logo{
     scale: .1;
    }
    form{
      margin-top: 10px;
      padding: 0 6em;
      display: flex;
      font-weight: bold;
      color: var(--primary-black);
    }
    h2{
      color: var(--primary-blue);
      margin-bottom: 5px;
    }
    p{
      padding-top: 3px;
    }
    main{
      background-color: var(--primary-white);
    }
    .price{
      font-weight: bold;
      font-size: 18px;
    }
    .house-link{
      color: var(--primary-blue);
    }
    .house-link:hover{
      color: #0a4669;
    }
    .house-image{
      height: 300px;
      max-width: 100%;
    }
    .house-template{
      display: grid;
      /* display: none; */
      grid-template-columns: 1fr;
    }
    button{
      justify-content: end;
      border: none;
      background-color: transparent;
      color: var(--primary-black);
      font-weight: bold;
      font-size: 17px;
    }
    button:hover{
      color: black;
      text-decoration: underline;
    }
    
    /*  BREAKPOINTS VOOR LAYOUT */
    
    @media screen and (min-width: 457px) {
        .house-template {
          grid-template-columns: 1fr;
        }
        .grid-container{
          grid-template-columns: max-content;
          grid-template-areas: 
          'image'
          'content'
          'ster'
          'beoordelingen'
          'verwijderen'
          ;
        }
      }
    
    @media screen and (min-width: 758px) {
        .house-template{
          grid-template-columns: 1fr 1fr;
        }
      }
    
      @media screen and (min-width: 1076px) {
        .house-template{
          /* grid-template-columns: 1fr 1fr 1fr; */
          grid-template-columns: 1fr 1fr;
        }
      }
    
    /* STYLING VOOR DE RATING STERRETJES */
    
    .rate {
      float: left;
    }
    .rate:not(:checked) > input {
        position:absolute;
        top:-9999px; 
    }
    .rate:not(:checked) > label {
      float:right;
      width:1em;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:30px;
      color:#ccc;
    }
    .rate:not(:checked) > label:before {
      content: '★ ';
    }
    .rate > input:checked ~ label {
      color: #ffc700;    
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
      color: #deb217;  
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
      color: #c59b08;
    }
    
    /* GRID LAYOUT VOOR DE HUIZEN */
    
    .grid-container{
      /* background-color: var(--primary-orange); */
      margin: 1em 3em;
      padding: .5em 2em;
      border-radius: 10px;
      border: 5px var(--primary-orange) solid;
      /* border: 5px rgb(184, 184, 184) solid; */
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-areas: 
      'image image'
      'content beoordelingen'
      'ster verwijderen'
      ;
    }
    .image{
      grid-area: image;
      width: 100%;
    }
    .image img{
      width: 100%;
    }
    .content{
      grid-area: content;
    }
    .ster{
      grid-area: ster;
    }
    .verwijderen{
      grid-area: verwijderen;
      justify-self: end;
      /* align-self: center; */
      align-self: flex-end;
    }
    .content-ul{
      margin-left: 1em;
    }
    .beoordelingen{
      justify-self: end;
      /* margin-top: 7px; */
      margin-top: 2em;
      overflow: scroll;
      overflow-x: hidden;
      height: 160px;
      padding-right: 2em;
    }
    .beoordelingen p{
      width: 100%;
      padding-right: 3em;
    }
    .beoordeling-text{
      color: var(--primary-black);
      font-weight: bold;
      text-decoration: none;
    }
    .beoordeling-text:hover{
      text-decoration: underline;
      color: black;
    }
    
    /* styling voor avatar */
    .avatar-image{
      height: 1.5em;
      width: 1.5em;
      border-radius: 90px;
    }
    .user-list{
      padding: 10px;
      display: flex;
      gap: 3px;
      text-decoration: none;
      color: var(--primary-black);
    }
    .user-list:hover{
      color: var(--primary-blue);
    }
    .user-li{
     list-style: none;
    }