.lijsten{
    padding: 3em 3em;
    display: flexbox;
}
.lijsten-ul{
    padding: .5em;
    margin: .5em;
    border: 3px solid var(--primary-blue);
    border-radius: 10px;
    width: 30em;
    list-style-type: none;
}
.lijst-items{
    text-decoration: none;
}