.lijsten{
    padding: 3em 3em;
    display: flexbox;
}
.lijsten-ul{
    padding: .5em;
    margin: .5em;
    border: 5px solid var(--primary-blue);
    border-radius: 1em;
    width: 30em;
    list-style-type: none;
}